.grid {
    margin: 107px 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    border-radius: 7px;

    // border: 1px solid red;

    .stats {
        display: flex;
        
    }

    .box1 {
        height: 100%;
        background: var(--Dark-desaturated-blue);
        border-radius: 7px 0 0 7px;;
        // border: 1px solid red;

        .content {
            max-width: 400px;
            margin-left: 70px;
            position: relative;
            top: 15%;
            // border: 1px solid red;

            li {
                padding-right: 70px;
                text-transform: uppercase;

                 p {
                    font-size: 11px;
                }

            }
        }



        .stats {
            margin-top: 70px;
            font-family: var(--fontDeca);
            list-style-type: none;
        }
    }

    .box2 {
        height: 100%;
        background-color: var(--Soft-violet);
        border-radius: 0 7px 7px 0;
        
        .image {
            background-image: cover;
            margin-bottom: -4px;
            opacity: 0.7;
            border-radius: 0 7px 7px 0;
        }
    }
}

@media screen and (max-width: 1010px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        .box1 {
            width: 540px;
            // padding: 0 164px 0 164px;
            border-radius: 0 0 7px 7px;

            .content {
                margin-top: 42px ;
                padding-left: 40px;
                text-align: center;
                // border: 1px solid red;

                .stats {
                    flex-wrap: wrap;
                    flex-direction: column-reverse;
                    align-items: center;

                    li {
                        margin: 0 0 21px 42px;
                    }
                }

                h1 {
                    margin-left: 16px;
                    max-width: 20rem;
                }
            }
        }

        .box2 {
            height: 100%;
            border-radius: 7px 7px 0 0;
            
            .image {
                border-radius: 7px 7px 0 0;
            }
        }
    }
}